section:nth-of-type(odd) {
		background-color: #ffffff;
}
.privacy{
	margin-top:150px;
	padding-top:0;
	padding-bottom:100px;
	width:70%;
}

.privacy .title {
	text-align:center;
	font-size: 1.5em;
}
ul li {
   /* list-style: none;*/
}

@media (max-width:767px) {
	.toast {
		margin-left: auto !important;
		margin-right: auto !important;
	}
	.privacy{
		margin-top:150px;
		padding-top:0;
		padding-bottom:100px;
		width: 90vw;
	}
	.privacy .btn{
		margin:10px 5px 10px 5px;
		font-size: 14px;
		padding-left:20px;
		padding-right:20px;
	}

}

.toast {
	position: fixed !important;
	right: 0 !important; 
	bottom: 0 !important;
	z-index: 100000;
	background-color: #fbfbfb !important;
	border: 1px solid red;
}
